[submodule "chatsapp"]
    path = chatsapp
    url = https://github.com/saurabh915/Whatsapp_clone.git
[submodule "server"]
    path = server
    url = https://github.com/saurabh915/Whatsapp_clone.git
[submodule "socket"]
    path = socket
    url = https://github.com/saurabh915/Whatsapp_clone.git